* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #0b0b0b;
  color: white;
  position: relative;
}

.app {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

/* CONTENEDOR DE LOS LOGOS */
.top-image {
  width: 100%;
  min-height: 160px;        /* un poco m谩s alto */
  padding-top: 45px;        /* controla qu茅 tan arriba empiezan */
  padding-bottom: 30px;

  background: #000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /*  CLAVE */

  gap: 6px;
}

/* LOGO PRINCIPAL */
.logo {
  width: 300px;    /* grande */
  height: auto;
}

/* LOGO SECUNDARIO */
.logo-secondary {
  width: 55px;     /* m谩s peque帽o */
  height: auto;

  opacity: 0.85;
}

/*PARA EL LOGO DIAMANTADOS CALI*/
/* Marca de agua */
body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url("models/imagenes/logo-diamantado.png");
  background-repeat: repeat;
  background-size: 140px;
  background-position: center;

  opacity: 0.05; /* clave para que no moleste */
  pointer-events: none; /*  no bloquea botones */
  z-index: 0;
}

header {
  text-align: center;
  padding: 1.5rem 1rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#viewer {
  flex: 1;
  width: 100%;
  min-height: 400px;
  
}

.controls {
  
  display: flex;
  gap: 12px;
  overflow-x: auto;

  /*  CLAVE PARA FLUIDEZ */
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  width: 200px; /* 3 botones */
  margin: 0 auto;
  padding: 10px 0;

  cursor: grab;
}


.controls::-webkit-scrollbar {
  display: none;
}

.controls button {
  z-index: 1;
  min-width: 70px;
  height: 70px;
  border-radius: 12px;
  border: 2px solid #ccc;
  flex-shrink: 0;
  scroll-snap-align: start;

  display: flex;
  align-items: center;
  justify-content: center;
  
  font-family: 'Poppins', sans-serif;

  font-size: 11px;
  color: #111;
  background: #eaeaea;
  text-transform: capitalize;
}



button {
  z-index: 1;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

/* FRANJA SUPERIOR */
.top-image {
  width: 100%;
  height: 120px; /* puedes ajustar */
  background: #000; /* o tu background */

  display: flex;
  align-items: center;      /* CENTRA VERTICAL */
  justify-content: center;  /* CENTRA HORIZONTAL */
}


/*Para el boton de la camara*/
.ar-button {
  z-index: 1;
  font-family: 'Poppins', sans-serif;
  padding: 14px 22px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-transform: uppercase;

  border-radius: 14px;
  background: #ff8c00;
  color: #fff;

  border: none;
  cursor: pointer;

  box-shadow:
    inset 4px 4px 8px rgba(0, 0, 0, 0.25),
    inset -4px -4px 8px rgba(255, 0, 0, 0.25),
    0 6px 12px rgba(0, 0, 0, 0.35);

  transition:
    box-shadow 0.2s ease,
    transform 0.15s ease;
}

.ar-button:active {
  transform: scale(0.96);
  box-shadow:
    inset 6px 6px 10px rgba(0, 0, 0, 0.35),
    inset -1px -1px 3px rgba(255, 255, 255, 0.2);
}


/*Para el colores disponibles*/
.controls-title {
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  margin: 12px 0 2px;
  opacity: 0.8;
}

.controls-title::after {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background: #ff8c00;
  margin: 6px auto 0;
  border-radius: 2px;
}



/* COLORES DE BOTONES */
.controls button[data-finish="negro"] {
  
  background: #111;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 70px;
  height: 70px;

  border-radius: 50%; /* BOTN REDONDO */
  border: 1px solid rgba(0, 0, 0, 0.15);

  font-size: 11px;
  font-weight: 500;

  cursor: pointer;

  /* Relieve simple (ligero para m贸vil) */
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.25),
    inset 0 -1px 2px rgba(255, 255, 255, 0.4);
}

.controls button[data-finish="dorado"] {
  background: #f8d666;
  color: #111;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 70px;
  height: 70px;

  border-radius: 50%; /* BOTN REDONDO */
  border: 1px solid rgba(0, 0, 0, 0.15);

  font-size: 11px;
  font-weight: 500;

  cursor: pointer;

  /* Relieve simple (ligero para m贸vil) */
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.25),
    inset 0 -1px 2px rgba(255, 0, 0, 0.4);
}

.controls button[data-finish="gris_claro"] {
  background: #888888;
  color: #111;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 70px;
  height: 70px;

  border-radius: 50%; /* BOTN REDONDO */
  border: 1px solid rgba(0, 0, 0, 0.15);

  font-size: 11px;
  font-weight: 500;

  cursor: pointer;

  /* Relieve simple (ligero para m贸vil) */
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.25),
    inset 0 -1px 2px rgba(255, 255, 255, 0.4);
}

.controls button[data-finish="aguamarina"] {
  background: #288b79;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 70px;
  height: 70px;

  border-radius: 50%; /* BOTN REDONDO */
  border: 1px solid rgba(0, 0, 0, 0.15);

  font-size: 11px;
  font-weight: 500;

  cursor: pointer;

  /* Relieve simple (ligero para m贸vil) */
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.25),
    inset 0 -1px 2px rgba(255, 255, 255, 0.4);
}

.controls button[data-finish="dorado_verdoso"] {
  background: #e3d23a;
  color: #111;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 70px;
  height: 70px;

  border-radius: 50%; /*BOTN REDONDO */
  border: 1px solid rgba(0, 0, 0, 0.15);

  font-size: 11px;
  font-weight: 500;

  cursor: pointer;

  /* Relieve simple (ligero para m贸vil) */
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.25),
    inset 0 -1px 2px rgba(255, 255, 255, 0.4);
}

.controls button[data-finish="gris_2"] {
  background: #525050;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 70px;
  height: 70px;

  border-radius: 50%; /* BOTN REDONDO */
  border: 1px solid rgba(0, 0, 0, 0.15);

  font-size: 11px;
  font-weight: 500;

  cursor: pointer;

  /* Relieve simple (ligero para m贸vil) */
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.25),
    inset 0 -1px 2px rgba(255, 255, 255, 0.4);
}

.controls button[data-finish="gris_5"] {
  background: #3e3d3d;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 70px;
  height: 70px;

  border-radius: 50%; /* BOTN REDONDO */
  border: 1px solid rgba(0, 0, 0, 0.15);

  font-size: 11px;
  font-weight: 500;

  cursor: pointer;

  /* Relieve simple (ligero para m贸vil) */
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.25),
    inset 0 -1px 2px rgba(255, 255, 255, 0.4);
}

.controls button[data-finish="gris_7"] {
  background: #726e6e;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 70px;
  height: 70px;

  border-radius: 50%; /* BOTN REDONDO */
  border: 1px solid rgba(0, 0, 0, 0.15);

  font-size: 11px;
  font-weight: 500;

  cursor: pointer;

  /* Relieve simple (ligero para m贸vil) */
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.25),
    inset 0 -1px 2px rgba(255, 255, 255, 0.4);
}

.controls button[data-finish="gris_negro"] {
  background: #3b3b3b;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 70px;
  height: 70px;

  border-radius: 50%; /* BOTN REDONDO */
  border: 1px solid rgba(0, 0, 0, 0.15);

  font-size: 11px;
  font-weight: 500;

  cursor: pointer;

  /* Relieve simple (ligero para m贸vil) */
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.25),
    inset 0 -1px 2px rgba(255, 255, 255, 0.4);
}

.controls button[data-finish="gris_4"] {
  background: #888888;
  color: #111;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 70px;
  height: 70px;

  border-radius: 50%; /* BOTN REDONDO */
  border: 1px solid rgba(0, 0, 0, 0.15);

  font-size: 11px;
  font-weight: 500;

  cursor: pointer;

  /* Relieve simple (ligero para m贸vil) */
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.25),
    inset 0 -1px 2px rgba(255, 255, 255, 0.4);
}

.controls button[data-finish="gris_azulado"] {
  background: #5f6769;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 70px;
  height: 70px;

  border-radius: 50%; /* BOTN REDONDO */
  border: 1px solid rgba(0, 0, 0, 0.15);

  font-size: 11px;
  font-weight: 500;

  cursor: pointer;

  /* Relieve simple (ligero para m贸vil) */
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.25),
    inset 0 -1px 2px rgba(255, 255, 255, 0.4);
}

.controls button[data-finish="naranja"] {
  background: #f33d14;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 70px;
  height: 70px;

  border-radius: 50%; /* BOTN REDONDO */
  border: 1px solid rgba(0, 0, 0, 0.15);

  font-size: 11px;
  font-weight: 500;

  cursor: pointer;

  /* Relieve simple (ligero para m贸vil) */
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.25),
    inset 0 -1px 2px rgba(255, 242, 0, 0.4);
}

.controls button[data-finish="gris_rata"] {
  background: #6f6e6a;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 70px;
  height: 70px;

  border-radius: 50%; /* BOTN REDONDO */
  border: 1px solid rgba(0, 0, 0, 0.15);

  font-size: 11px;
  font-weight: 500;

  cursor: pointer;

  /* Relieve simple (ligero para m贸vil) */
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.25),
    inset 0 -1px 2px rgba(255, 255, 255, 0.4);
}

.controls button[data-finish="gris_oscuro"] {
  background: #bdbcbc;
  color: #111;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 70px;
  height: 70px;

  border-radius: 50%; /* BOTN REDONDO */
  border: 1px solid rgba(0, 0, 0, 0.15);

  font-size: 11px;
  font-weight: 500;

  cursor: pointer;

  /* Relieve simple (ligero para m贸vil) */
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.25),
    inset 0 -1px 2px rgba(255, 255, 255, 0.4);
}

.controls button[data-finish="gris_3"] {
  background: #474646;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 70px;
  height: 70px;

  border-radius: 50%; /* BOTN REDONDO */
  border: 1px solid rgba(0, 0, 0, 0.15);

  font-size: 11px;
  font-weight: 500;

  cursor: pointer;

  /* Relieve simple (ligero para m贸vil) */
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.25),
    inset 0 -1px 2px rgba(255, 255, 255, 0.4);
}

.controls button[data-finish="gris_6"] {
  background: #6b6a66;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 70px;
  height: 70px;

  border-radius: 50%; /* BOTN REDONDO */
  border: 1px solid rgba(0, 0, 0, 0.15);

  font-size: 11px;
  font-weight: 500;

  cursor: pointer;

  /* Relieve simple (ligero para m贸vil) */
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.25),
    inset 0 -1px 2px rgba(255, 255, 255, 0.4);
}

.controls button[data-finish="gris_8"] {
  background: #888888;
  color: #111;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 70px;
  height: 70px;

  border-radius: 50%; /* BOTN REDONDO */
  border: 1px solid rgba(0, 0, 0, 0.15);

  font-size: 11px;
  font-weight: 500;

  cursor: pointer;

  /* Relieve simple (ligero para m贸vil) */
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.25),
    inset 0 -1px 2px rgba(255, 255, 255, 0.4);
}

/*========Para los botones de efecto y limpio==========*/
/* BOTONES DE EFECTOS */
.effects button {
  background: #1c1c1c;
  color: #fff;
  
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 70px;
  height: 70px;

  border-radius: 50%; /* BOTN REDONDO */
  border: 1px solid rgba(0, 0, 0, 0.15);

  font-size: 11px;
  font-weight: 500;

  cursor: pointer;

  /* Relieve simple (ligero para m贸vil) */
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.25),
    inset 0 -1px 2px rgba(155, 152, 152, 0.4);
}

/* BOTN LIMPIAR */
#clearBtn {
  background: #444;
  border-color: #999;

  
}

/*TEXTO DE DOBLE CLICK*/

.hint{
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  color: #ffffff;
  margin: 12px 0 1px;
  opacity: 0.6;
}

/*LOGO DE DIAMANTADOS CALI*/

/*BOTONES DE VISUALIZAR Y CAMBIO RIN*/
.ar-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 12px auto;
  width: 100%;
  position: relative;
  z-index: 10;
}
.secondary-button {
  font-family: 'Poppins', sans-serif;
  padding: 14px 18px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;

  border-radius: 14px;
  background: #1c1c1c;
  color: #fff;

  border: 1px solid #555;
  cursor: pointer;

  box-shadow:
    inset 0 1px 2px rgba(0,0,0,0.4),
    0 4px 8px rgba(0,0,0,0.35);

}

.secondary-button:active {
  transform: scale(0.96);
}
